.demo-show-item__image-wrapper {
  display: block;


  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-clip: padding-box;

  transition: background-position	 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  padding-bottom: 88%;
  width:100%;
}

.demo-show-item__image-wrapper span{
  margin-top: 50%;
}

@media (-moz-touch-enabled: 0), (hover: hover) {
  .grid-item:hover .demo-show-item__image-wrapper {
    background-position: center bottom;
  }
}